@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
*{
  margin:0;
  padding:0;
}
body{
font-family:'Montserrat', sans-serif;
}

/* HEADER */
.yellow {
  display:flex;
  justify-content: center;
  align-items: flex-end;
  width:20vw;
  height:22vw;
  background-color:#A5DED5;
  float:left;
  transform:rotateY(180deg);
  transition: transform 3s ease 0s;
  animation:yellowR 3s ease 0s /*infinite*/ normal;
}
@keyframes yellowR{
  0%{background-color:#A5DED5;}
  50%{background-color:white;}
  100%{background-color:#A5DED5;}
   0% { transform: rotateY(0deg); }
  100%{ transform: rotateY(180deg);}
}

/* NAVIGATION LINKS' PROPERTIES*/
.pink a, .skyblue a, .red a {
  display: block;
}
.pink {
  display:flex;
  justify-content: center;
  align-items: flex-end;
  width: 20vw;
  height: 20vw;
  background-color: #33ACE0;
  /*float: left;*/
  /*transform: rotateY(180deg);*/
  transition: transform 3s ease 0s;
  animation:pinkR 3s ease 0s /*infinite*/ normal;
}

@keyframes pinkR{
  0%{background-color:#33ACE0;}
  50%{background-color:white;}
  100%{background-color:#33ACE0;}
   0% { transform: rotateY(180deg); }
  100%{ transform: rotateY(0deg);}
}

.skyblue{
  display:flex;
  justify-content: center;
  align-items: flex-end;
  width: 20vw;
  height: 20vw;
  background-color: #D15179;
  /*float: left;*/
  /*transform: rotateY(180deg);*/
  transition: transform 3s ease 0s ;
  animation:skyblueR 3s ease 0s /*infinite*/ normal;
}
@keyframes skyblueR{
  0%{background-color:#D15179;}
  50%{background-color:white}
  100%{background-color:#D15179;}
   0% { transform: rotateY(180deg); }
  100%{ transform: rotateY(0deg);}
}
/*.skyblue a {
  color: black;
  background: white;
  height: 2.5rem;
  width: 100%;
}*/

.red{
  display:flex;
  justify-content: center;
  align-items: flex-end;
  width: 20vw;
  height: 20vw;
  background-color: #EF5B30;
  /*float: left;
  transform: rotateY(180deg);*/
  transition: transform 3s ease 0s;
  animation:redR 3s ease 0s /*infinite*/ normal;
}
@keyframes redR{
  0%{background-color:#EF5B30;}
  50%{background-color:white;}
  100%{background-color:#EF5B30;}
   0% { transform: rotateY(180deg); }
  100%{ transform: rotateY(0deg);}
}
/*.red a {
  color: black;
  background: white;
  height: 5rem;
  width: 100%;
}*/

.green{
  width: 20vw;
  height: 20vw;
  background-color: #BA9CC8;
  float: left;
  transform: rotateY(180deg);
  transition: transform 3s ease 0s;
  animation:greenR 3s ease 0s /*infinite*/ normal;
}
@keyframes greenR{
  0%{background-color:#BA9CC8;}
  50%{background-color:white;}
  100%{background-color:#BA9CC8;}
    0% { transform: rotateY(0deg); }
  100%{ transform: rotateY(180deg);}
}

header ul{
  list-style: none;
  display:grid;
  grid-template-columns: repeat(5, 1fr);
}

/* NAME */
.y{
  position: fixed;
  top:332px;
  left:130px;
  font-weight:900;
  font-size: 50px;
  color:brown;
  animation:y 3s ease 0s /*infinite*/ normal;
  transform:rotate(360deg) scale(0.5);
  transition: transform 3s ease 0s; 
}
@keyframes y{
  0%{color:brown;}
  100%{color:white;}
    0% { transform: rotate(0deg); }
  100%{ transform: rotate(360deg);}
}

.u{
  position: fixed;
  top:332px;
  left:165px;
  font-weight:900;
  font-size: 50px;
  color:orange;
  animation:u 3s ease 0s /*infinite*/ normal;
  transform:rotate(360deg) scale(0.5);
  transition: transform 3s ease 0s; 
}
@keyframes u{
  0%{color:orange;}
  100%{color:white;}
    0% { transform: rotate(0deg); }
  100%{ transform: rotate(360deg);}
}

.l{
  position: fixed;
  top:332px;
  left:210px;
  font-weight:900;
  font-size: 50px;
  color:#00B0FF;
  animation:l 3s ease 0s /*infinite*/ normal;
  transform:rotate(360deg) scale(0.5);
  transition: transform 3s ease 0s; 
}
@keyframes l{
  0%{color:#00B0FF;}
  100%{color:white;}
    0% { transform: rotate(0deg); }
  100%{ transform: rotate(360deg);}
}

.i{
  position:fixed;
  top:332px;
  left:240px;
  font-weight:900;
  font-size: 50px;
  color:#AB47BC;
  animation:i 3s ease 0s /*infinite*/ normal;
  transform:rotate(360deg) scale(0.5);
  transition: transform 3s ease 0s; 
}
@keyframes i{
  0%{color:#AB47BC;}
  100%{color:white;}
    0% { transform: rotate(0deg); }
  100%{ transform: rotate(360deg);}
}

.a{
  position: fixed;
  top:332px;
  left:260px;
  font-weight:900;
  font-size: 50px;
  color:black;
  animation:a 3s ease 0s /*infinite*/ normal;
  transform:rotate(360deg) scale(0.5);
  transition: transform 3s ease 0s; 
}
@keyframes a{
  0%{color:black;}
  100%{color:white;}
  0% { transform: rotate(0deg); }
  100%{ transform: rotate(360deg);}
}


/* GENERAL */
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Montserrat&display=swap');
p {
    font-family: 'Bangers', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 2px;
    line-height: 1.6;
    word-spacing: 2px;
    text-align:justify;
    margin: 40px 0 0 200px;
    padding: 70px 0;
}
a {
    color:azure;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
    font-size: 3rem;
}

/* INDEX PAGE */
#index .grid-container {
  display: grid;
  grid: 200px 200px/ auto auto;
  grid-gap: 10px;
  padding: 50px;
  border-color: black;
}
#index .grid-container > div {
  display:grid;
  justify-content: center;
  border-color: rgb(129, 129, 129);
  text-align: center;
  padding: 50px 0;
  margin-top: 50px;
  font-size: 30px;
}
#index .grid-container > div a {
  margin-top: 50px;
  color:rgb(63, 62, 62);
}
/* PROCESS PAGE*/
#process main > ul {
    font-family: 'Bangers', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 4px;
    word-spacing: 2px;
    text-align:center;
    margin-top: 20px;
    padding: 70px 0;
}

#process h2 {
  color:#EF5B30;
}
/* ABOUT PAGE */
#about .cssMask2 {
  mask-image: radial-gradient(ellipse 90% 90% at 50% 50%, black 40%, transparent 50%);
}
#about .cssMask3 {
  clip-path: polygon(50% 0%, 0% 98%, 98% 98%);
}
video {
  display: block;
  margin: 5rem auto;
  border: 2px solid #abc;
  border-radius: 1rem;
}

  audio {
    display:block;
    margin:2rem auto;
  }
  h1, h2, h3 {
    text-align: center;
  }
  #process .responsive {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1200px;
    height: 100%;
  }
footer > p {
    font-family: 'Bangers', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 4px;
    word-spacing: 2px;
    text-align:center;
}
